<div class="flex-shrink-0 p-3 bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-light text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">Languages</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#java-collapse" aria-expanded="false">
          JAVA
        </button>
        <div class="collapse" id="java-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 px-3 small">
            <li><a href="#" class="link-light text-decoration-none rounded">Overview</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Updates</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Reports</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#javascript-collapse" aria-expanded="false">
          JAVASCRIPT
        </button>
        <div class="collapse" id="javascript-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 px-3 small">
            <li><a href="#" class="link-light text-decoration-none rounded">Overview</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Weekly</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Monthly</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Annually</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#html-collapse" aria-expanded="false">
          HTML
        </button>
        <div class="collapse" id="html-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 px-3 small">
            <li><a href="#" class="link-light text-decoration-none rounded">New</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Processed</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Shipped</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Returned</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#css-collapse" aria-expanded="false">
          CSS
        </button>
        <div class="collapse" id="css-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 px-3 small">
            <li><a href="#" class="link-light text-decoration-none rounded">New</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Processed</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Shipped</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Returned</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#bootstrap5-collapse" aria-expanded="false">
          BOOTSTRAP 5
        </button>
        <div class="collapse" id="bootstrap5-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 px-3 small">
            <li><a href="#" class="link-light text-decoration-none rounded">New</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Processed</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Shipped</a></li>
            <li><a href="#" class="link-light text-decoration-none rounded">Returned</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
    </ul>
  </div>